* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F5F9FC !important;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.wrap-form {
    max-width: 550px;
    background-color: white;
}

.logo-form {
    margin-bottom: 20px;
}

h1 {
    margin: 10px 0;
    font-weight: 600;
    font-size: 28px;
}

input {
    width: 407px;
    margin: 16px 0 !important;
    height: 54px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
    padding: 24px 16px;
}

input[type=submit] {
    margin: 20px 0;
    background-image: linear-gradient(to right, #369A90, #005571);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    padding: 16px 0;
}